*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --txt-color: black;
    --bg-color: white;
    --btn-color: salmon;
    --white-based-color: beige;
    --yellow-based-color: khaki;
    --brown-based-color: wheat;
}

body {
    background: var(--bg-color);
    color: var(--txt-color);
}

/******************** login section ********************/
.login-body {
    padding: 60px 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
}

.login-form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color);
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 rgb(192 192 192 / 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left .5s ease-in-out;
}

.wrapper .show-sign-up .sign-up-form .to-sign-up {
    left: -1000px;
    transition-delay: 0s;
}

.wrapper .sign-up-form .to-sign-up {
    transform: translateX(1000px);
}

.login-form h1{
    font-size: 30px;
    color: var(--txt-color);
    margin-bottom: 40px;
    text-align: center;
}

.input-data {
    position: relative;
    margin: 20px;
    align-items: center;
}

.input-data label {
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 15px;
    color: rgb(0 0 0 / 50%);
    transform: translateY(-50%);
    transition: .5s;
}

.input-data input {
    font-size: 14px;
    width: 275px;
    height: 35px;
    padding: 0 15px;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    outline: none;
}

.input-data input:focus~label,

.input-data input:valid~label {
    font-size: 12px;
    top: 0;
    background: var(--bg-color);
    color: var(--txt-color);
}

.checkbox {
    margin: 20px 20px;
}

.checkbox label {
    font-size: 14px;
    color: var(--txt-color);
}

.checkbox label input {
    accent-color: var(--btn-color);
}

.login-btn {
    position: relative;
    font-size: 14px;
    width: 275px;
    height: 35px;
    margin: 20px 20px;
    background: var(--btn-color);
    box-shadow: 0 1px 5px 0 rgb(192 192 192 / 75%);
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    transition: all .50s ease;
}

.login-btn:hover {
    background: var(--brown-based-color);
}

.to-sign-up {
    font-size: 14px;
    text-align: center;
    color: var(--txt-color);
}

.to-sign-up a {
    color: var(--btn-color);
    transition: all .50s ease;
}

.to-sign-up a:hover {
    color: var(--brown-based-color);
}

/******************** sign up section ********************/
.sign-up-form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color);
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 rgb(192 192 192 / 75%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form h1{
    font-size: 30px;
    color: var(--txt-color);
    margin-bottom: 40px;
    text-align: center;
}

.sign-up-btn {
    position: relative;
    font-size: 14px;
    width: 275px;
    height: 35px;
    margin: 20px 20px;
    background: var(--btn-color);
    box-shadow: 0 1px 5px 0 rgb(192 192 192 / 75%);
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    transition: all .50s ease;
}

.sign-up-btn:hover {
    background: var(--brown-based-color);
}

.to-login {
    font-size: 14px;
    text-align: center;
    color: var(--txt-color);
}

.to-login a {
    color: var(--btn-color);
    transition: all .50s ease;
}

.to-login a:hover {
    color: var(--brown-based-color);
}

/******************** header section ********************/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    padding: 10px 80px;
    background: var(--bg-color);
    box-shadow: 0 1px 5px 0 rgb(192 192 192 / 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo img {
    height: 35px;
    width: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
    color: var(--txt-color);
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--btn-color);
}

.btn {
    display: flex;
    align-items: center;
}

.btn i {
    font-size: 22px;
    padding: 0 5px;
    color: var(--txt-color);
    transition: all .50s ease;
}

.btn i:hover {
    color: var(--btn-color);
    transform: translateY(-2.5px);
}

#menu-btn {
    display: none;
}

/******************** home section ********************/
.home {
    position: relative;
    width: 100%;
    height: 625px;
    padding: 0 225px;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 14px;
    margin-bottom: 50px;
}

.shop-now-btn {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px;
    background: var(--btn-color);
    color: white;
    border-radius: 30px;
    transition: all .50s ease;
}

.shop-now-btn:hover {
    background: black;
    color: var(--btn-color);
}

/******************** shop section ********************/
.shop {
    width: 100%;
    height: 565px;
    background: var(--white-based-color);
}

.title h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 40px 80px;
    color: var(--txt-color);
}

.row {
    position: relative;
    padding: 0 120px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
}

.catalog img {
    height: 150px;
    width: auto;
    margin-bottom: 10px;
}

.catalog h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--txt-color);
}

.catalog h4 {
    font-size: 18px;
    font-weight: 400;
    color: salmon;
    margin-bottom: -97.5px;
}

.catalog .atc-btn a {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding: 10px 72.5px;
    background: black;
    color: var(--btn-color);
    transition: opacity 0.5s;
    opacity: 0;
}

.catalog:hover .atc-btn a {
    opacity: 1;
}